@font-face {
	font-family: "glyphicons";
	src: url("fonts/glyphicons-halflings-regular.eot");
	src: 
	url("fonts/glyphicons-halflings-regular.woff") format("woff"),
	url("fonts/glyphicons-halflings-regular.ttf") format("ttf"),
	url("fonts/glyphicons-halflings-regular.svg") format("svg");
}

*{
	font-family: 'Open Sans', sans-serif;
}

nav#main_header {
	vertical-align: middle;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.14);
}

#home {
}


#bs-example-navbar-collapse-1 li:hover{
	box-shadow: #369dd6 inset 0px -4px 0px 0px;
}

#mobile-img {
	border-radius: 10000em;
	border: 1em white;
	box-shadow: 0px 0px 0px 0.5em #369dd6;
	width: 16em;
	height: 16em;
	margin-bottom: 1em;
	transform: translate(8em,-8em);
	position: absolute;
	right: 50%;
}

#id_card{
	/*box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.14);	
	border-radius: 0.5em;
	text-align: center;
	margin-top: 10em;
	position: relative;
	padding-bottom: 2em;*/
	margin-top: 10em;
}

#hassan_name{
	margin-top: 4.5em;
	color: #2c5e99;
	margin-bottom: 0.5em;
}

div#id_card_left {	
	background: #359ed9;
	color: white;
	padding: 2em;
	text-align: center;
}

div#id_card_right {	
	margin-left: 2em;
}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.id_card_chips {
	background: #00000040;
	padding: 0.3em;
	border-radius: 1em;
	text-align: center;
}

#location_pin{
	width: 1.5em;
	height: 1.5em;
}

a.id_social_link {
	display: inline-block;
	padding: 1em;
}

div#header_logo {display: inline-block;}

div#main_menu {float: right;margin-right: 1em;}

#main_menu ul {
	display: block;
	padding: 0px;
	margin: 0px;
}

#main_menu ul li {
	display: inline-block;
	padding: 1em;
}
#main_menu ul li:hover {

	box-shadow: inset 0px -4px 0px 0px #369dd6;
}

#main_menu ul a {
	display: inline-block;
	text-decoration: none;
	color: #9a9a9a;
}

body {
	margin: 0px;
}

div#id_card_content {padding-top: 2em;text-align: center;}

#id_card h4 {
	padding: 0px;
	margin: 0px;
}


div#main_container {
	width: 65%;
	margin: auto;
}

#main_container section{
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.14);
	border-radius: 0.5em;
	text-align: left;
	padding: 2em;
	margin-bottom: 1em;
	line-height: 2em;
}

.section_title{
	margin-top: 0px;
}

a{
	color: #369dd6;
}